<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {{current | capitalize}} - Wood business</title>


    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap" rel="stylesheet">


    <!---
    bootstrap fonts
    --->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">


    <!-- Main stylesheets-->

    {% if current === "home" %}
    <link rel="stylesheet" href="{{'css/theme.css'}}">
    {% else %}

    <link rel="stylesheet" href="{{'./../css/theme.css'}}">

    {% endif %}
    {# <link rel="stylesheet" href="{{'./css/theme.css'}}"> #}

</head>

<body class="">


    {% include "blocks/header-navbar.html" %}

    <main>
        {% block main %}
        main goes here
        {% endblock %}



       {% if current !== "contact" %}
       {% block form %}
       {% include "blocks/form.html" %}
       {% endblock %}
       {% endif %}

    </main>



    {% include "blocks/footer.html" %}



    {# {% if current ==="home" %}
    <script src="{{'js/bootstrap.bundle.js'}}" defer type="module"></script>
    {% else %}

    <script src="{{'./js/bootstrap.bundle.js'}}" defer type="module"></script>
    
    {% endif %} #}
    <script src="{{'./js/bootstrap.bundle.js'}}" defer type="module"></script>


</body>

</html>