<section class ="my-5 py-15">
    <div class="container">
        
                <h1 class="h1 text-white mb-n9 ms-lg-10 ps-lg-4 ">
                    contact
                </h1>


        <div class="row text-white fs-2 align-items-center justify-content-between">
            <div class="col-12 col-lg-5 offset-lg-1  align-self-end pb-10">
                <div class="mb-4 ">
                    <i class="bi bi-telephone-outbound pe-3"></i>
                    +420 000 000 000
                 </div>
                 <div class=" ">
                    <i class="bi bi-geo-alt pe-3"></i>
                    Na Plzeňce 1166/0
                    150 00
                 </div>
            </div>
            <div class="col-12 col-lg-5 overflow-hidden  ">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d254.09390765188533!2d14.409566638758196!3d50.0655750708836!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x470b945b93ec8603%3A0x49af3bc9729cdc7b!2sAllzora!5e0!3m2!1sen!2sma!4v1666792668005!5m2!1sen!2sma" class ="rounded-5  " width = "400px" height = "400px" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
        </div>
</section>