<section class=" my-15 position-relative" id ="about-us">
    <div class="container">
        <h1 class="h1 text-white my-5 ms-lg-10 ps-lg-10">

            About us
            </h1>   

            <div class="row flex-column flex-lg-row me-9 align-items-lg-center position-relative mt-lg-n6">
                <div class="col-12 col-lg-6 offset-lg-1">
                    <p class ="text-white fs-4  px-lg-8">
                        BIO CWT  - We manufacture solid  wood products according to individual drawings. We make chairs, armchairs, wardrobes, beds and much more in our own workshop, equipped with all the necessary industrial equipment.
                    </p>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="a-grid">
                        <img class ="h-100" src ="./images/person-taking-measures-wood-1.png" alt="taking messures" />
                        <img class ="h-100" src ="./images/happy-man.png" alt ="man loving his job" />
                        <img class ="h-100" src ="./images/cropped-man.png" alt ="man cropping" />
                    </div>

                </div>
            </div>
    </div>
</section>