<footer class="py-8 " id ="footer">

   <div class="container">
      <div class="row text-white fs-2 ">
         <div class="col-12 col-lg-4 text-center text-lg-start mb-5 mb-lg-0">
            <picture><img class="img-fluid" src="./images/wood-logo.png" alt="wood company logo"></picture>

         </div>
         <div class="col-12 col-lg-4 text-center text-lg-start mb-5 mb-lg-0 ">
            <i class="bi bi-telephone-outbound pe-3"></i>
            +420 000 000 000
         </div>
         <div class="col-12 col-lg-4 text-center text-lg-start mb-5 mb-lg-0">
            <i class="bi bi-geo-alt pe-3"></i>
            Na Plzeňce 1166/0
            150 00
         </div>
         <div class="col-12 col-lg-4  fs-5 mt-lg-3 text-center text-lg-start mb-5 mb-lg-0">
            Политика конфиденциальности
         </div>
      </div>
   </div>
</footer>