<section class="pt-8  mt-11 fs-2" id="form-section">
    <div class="container">
        <h1 class="h1 text-end text-white d-none d-lg-block">
            Any questions?
        </h1>
        <div class="row overflow-hidden">
            <div class="col-12 col-lg-6 ">
                <form>
                    <div class="mb-5">

                        <input  type="text" class="form-control fs-3" id="your-name" aria-describedby="emailHelp"
                            placeholder="Your name">

                    </div>
                    <div class="mb-5">

                        <input  type="text" class="form-control fs-3" id="your-phone" placeholder="your phone number">
                    </div>
                    <div class="mb-5">

                        <textarea class="form-control  fs-3" placeholder="your question" id="floatingTextarea"></textarea>
                    </div>

                    <button type="submit"
                        class="btn btn-primary rounded-pill text-white  px-7 text-capitalize mb-8">send</button>
                </form>
              



            </div>
            <div class="col-lg-6 d-none d-lg-block position-relative">
                <p class="fs-2 text-white text-end">
                    Write to us and we will be sure <br /> to answer all your questions and give <br /> you a
                    comprehensive consultation.
                </p>
                <picture class ="position-absolute wood-img   d-block col-10">
                    <img src ="./images/wood-deg.png"  class ="img-fluid" alt ="wood" >
                </picture>
            </div>
        </div>
    </div>
</section>