<section class="my-5 py-15  " id ="material-we-work-with">
   
   <div class="container">
    <h1 class="h1 text-white mt-5 ms-lg-10 ps-lg-10">
        THE WOOD WE <br/> WORK WITH 
    </h1>

    <div class="row mt-8 scroll flex-nowrap">
        <div class=" col-5 col-md-4  ">
            <picture >
                //referencing images
                <img src ="./images/old-wood-grain.png" alt ="old wood grain">
            </picture>
            <h2 class="text-capitalize  my-5 ps-lg-9 fw-bold text-white  ">oak</h2>
            <ul class ="list-unstyled d-flex flex-column justify-content-center ">
                <li class ="display-6 d-flex align-items-start  mb-3  text-white"> <i class="pe-2 text-danger bi bi-check"></i> durability</li>
                <li class ="display-6 d-flex align-items-start  mb-3  text-white"> <i class="pe-2 text-danger bi bi-check"></i> beutiful texture</li>
                <li class ="display-6 d-flex align-items-start  mb-3  text-white"> <i class="pe-2 text-danger bi bi-check"></i> water resistance</li>
                <li class ="display-6 d-flex align-items-start  mb-3  text-white"> <i class="pe-2 text-danger bi bi-x"></i>expensive</li>
                
            </ul>
        </div>
        <div class=" col-5 col-md-4 ">
           <picture >
            <img src ="./images/wood-texture-design.png" alt ="old wood grain">
           </picture>
            <h2 class="text-capitalize  my-5 ps-lg-9 fw-bold text-white  ">buk</h2>
            <ul class ="list-unstyled d-flex flex-column justify-content-center ">
                <li class ="display-6 d-flex align-items-start  mb-3  text-white"> <i class="pe-2 text-danger bi bi-check"> </i>durability</li>
               
                <li class ="display-6 d-flex align-items-start  mb-3  text-white"> <i class="pe-2 text-danger bi bi-x"></i> hard to handle</li>
                
            </ul>
        </div>
        <div class=" col-5 col-md-4 ">
          <picture >
            <img src ="./images/pale-oak-wood-texture-design.png" alt ="old wood grain">
          </picture>
            <h2 class="text-capitalize  my-5 ps-lg-9 fw-bold text-white  ">ash</h2>
            <ul class ="list-unstyled d-flex flex-column justify-content-center ">
                <li class ="display-6 d-flex align-items-start  mb-3  text-white"> <i class="pe-2 text-danger bi bi-check"></i> durability</li>
                <li class ="display-6 d-flex align-items-start  mb-3  text-white"> <i class="pe-2 text-danger bi bi-x"></i> hard to handle</li>
                
                
            </ul>
        </div>
    </div>
   </div>

    

</section>