<section class="py-5  text-white  overflow" id ="product-photos">
   <div class="container">
    <h1 class="h1 text-white my-5 ms-lg-10 ps-lg-10">
        our work
    </h1>

    <div id="product-photos-carousel" class="carousel slide" data-bs-ride="true">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#product-photos-carousel" data-bs-slide-to="0" class="active rounded-circle" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#product-photos-carousel" data-bs-slide-to="1" aria-label="Slide 2" class ="rounded-circle"></button>
          <button type="button" data-bs-target="#product-photos-carousel" data-bs-slide-to="2" aria-label="Slide 3" class ="rounded-circle"></button>
        </div>
        <div class="carousel-inner " >
          <div class="carousel-item active" >
            <img src="./images/carousel-landscape/carousel-1.png" class="d-block w-100" alt="carousel one">
          </div>
          <div class="carousel-item">
            <img src="./images/carousel-landscape/carousel-2.png" class="d-block w-100" alt="carousel two ">
          </div>
          <div class="carousel-item  " >
            <img src="./images/carousel-landscape/carousel-3.png" class="d-block w-100" alt="carousel three">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#product-photos-carousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#product-photos-carousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
   </div>
</section>