<!-- what we offer start here-->
<section class="py-8  position-relative" id="what-we-offer">
  <div class="container ">
    <div class="row  ms-lg-8 position-relative afh-30 ps-7">

      <div class="col-12 col-lg-6 h-100 ">
      <hgroup class ="border-lg-end border-bottom border-lg-bottom-0  mt-lg-5 ps-4 ps-lg-0">

        <h1 class="h1 text-light mb-4">
          Solid <br class="d-lg-block">
          wood <br>
          products
        </h1>
        <h2 class="h2 text-danger mb-lg-6">
          Oak, beech, ash<br class ="d-block d-lg-none"> from  1700 <br> CZK per m3
        </h2>
      </hgroup>
        <button class="btn btn-primary text-capitalize rounded-pill text-light mt-3 ">
          order
        </button>

      </div>
      <div class="col-12 col-lg-6 a-grid h-100">

        <img class =" " src="./images/bg-svg/what-we-offer-1.png" alt="offer1" />
  
  
        <img class="" src="./images/bg-svg/what-we-offer-2.png" alt="offer1" />
    
    
        <img class="" src="./images/bg-svg/what-we-offer-3.png" alt="offer1" />
      </div>
    </div>
   

 

           
             
              



  </div>


  </div>
  </div>
</section>


<!-- what we offer end here-->